@import '../../../variables';

.catalog-container {
	display: flex;
	flex-direction: column;
}

.catalog-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}

.catalog-list-container {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px,300px));
	gap: $spacing-xl;
	width: 100%;
}

.catalog-games-list {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	gap: $spacing-l;
}

.catalog-info-card {
	display: flex;
	padding: 0;
	flex-direction: column;
	border-color: rgba(255, 255, 255, 0.2);
	border-radius: $spacing-s;
	border-style: solid;
	flex: 1;
	transition: all 0.3s;

	&:hover {
		border-color: rgba(255, 255, 255, 0.6);
	}
}

.catalog-card-link {
	&:hover {
		text-decoration: none;
	}
}

.catalog-card-content {
	display: flex;
	flex-direction:column;
}

.catalog-card-description {
	 display: flex;
	 flex-direction: column;
	 padding: $spacing-l;

	p {
		overflow: hidden;
		text-overflow: ellipsis;
		line-clamp: 4;
		-webkit-line-clamp: 4;
		-webkit-box-orient: vertical;
		display: -webkit-box;
	}
}

.board-list-container {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
	gap: $spacing-l;
}

.board-card-content {
	display: flex;
	justify-content: space-between;
	width: 100%;
	padding: $spacing-l;

	h2 {
		font-size: $spacing-xl;
		margin: unset;
		padding: 0 0 0 $spacing-l;
	}
}

.game-info-container {
	display: flex;
	flex-direction: column;
	width: 75vw;
	margin: 0 auto;
	padding: $spacing-xl 0;
}

.game-info-content {
	display: flex;
	gap: $spacing-xl;
}

.game-info-description {
	padding-bottom: $spacing-l;
	font-size: 1.2rem;
	line-height: 150%;
}

.pagination-container {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: $spacing-xl;
	width: 100%;
	gap: $spacing-xl;
}

.breadcrumb {
	margin-bottom: $spacing-xl;
}

.table-container {
	display: flex;
	flex-direction: column;
	padding-top: $spacing-l
}

.fixed-height {
	min-height: 432px;
}
