.catalog-info-card {
	display: flex;
	padding: 0;
	flex-direction: column;
	border-color: rgba(255,255,255,.2);
	border-radius: 5px;
	border-style: solid;
	flex: 1;
	transition: all 0.3s;

	&:hover {
		border-color: rgba(255,255,255,.6);
	}
}

.catalog-card-link {
	&:hover {
		text-decoration: none;
	}
}

.catalog-card-description {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 4;
			line-clamp: 4;
	-webkit-box-orient: vertical;
}

.fixed-height {
	min-height: 465px;
}