@import '../../../../variables';

#quiz-form {
	.free-text-item {
		.free-text-response {
			display: flex;
			align-items: center;
			gap: $pt-grid-size;
		}

		.accepted-answers {
			margin-left: $pt-grid-size + $pt-icon-size-standard;
			margin-top: $pt-grid-size;
		}
	}
}