@import '../../../../variables';

.question-navigator-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: $spacing-large;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: $spacing-xxlarge;
	background-color: $pt-heading-color;
}

.question-navigator-buttons {
	display: flex;
	gap: $spacing-large;
}
