@import '../../../../variables';

// Total height of element is (roughly) one $pt-grid-size for each top and bottom margin within in the container, plus
// one $pt-line-height for each discrete element in the container.
$gm-timer-height: $pt-grid-size * 2 + $pt-normal-line-height + $pt-progress-bar-height + $pt-grid-size;

.quiz-timer {
	height: $gm-timer-height;
	position: fixed;
	top: $gm-nav-header-height;
	padding: $pt-grid-size;
	width: 100%;
	background-color: $gray3;
	min-height: $gm-timer-height;
	z-index: 100;

	.#{$bp-ns}-progress-bar {
		margin-top: $pt-grid-size;
	}
}

.#{$bp-ns}-dark .quiz-timer {
	background-color: $dark-gray4;
}