@import "../../../../variables";

.results-header {
	display: flex;
	justify-content: space-between;
	padding-bottom: $spacing-large;
	border-bottom: solid $spacing-pixel $gray1;

	margin: $spacing-xxlarge 0;

	h2 {
		display: flex;
		align-items: center;
		gap: $spacing-small;
	}
}

.results-items {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-gap: $spacing-large;
}

