@import '../../../../variables';

.history-filter {
	display: flex;
	gap: $spacing-large;
	justify-content: flex-end;
	margin-bottom: $spacing-large;
	align-items: center;
}

.questions-container {
	max-height: 260px;
}

.question {
	margin-bottom: $spacing-large;
}

.question-details {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: $spacing-medium;
}

.question-details-card {
	display: flex;
	flex-direction: column;
	padding: $spacing-medium;
	align-items: center;
	margin-bottom: $spacing-small;
	min-height: 80px;
	border: solid 1px $light-gray1;
	font-size: 0.8rem;
	text-align: center;

	span {
		font-weight: bold;
		font-size: 0.7rem;
		margin-bottom: $spacing-medium;
	}
}

.question-title {
	display: flex;
	gap: $spacing-small;
	align-items: center;

	margin-bottom: $spacing-medium;

	span {
		font-weight: bold;
	}
}

.question-details-total {
	text-align: right;
	width: 100%;
	display: block;

	span {
		font-weight: bold;
	}
}
