@import '../../../../../variables';

.gm-top-ranked-card {
	list-style-type: none;
	padding: 0;
	margin: $spacing-small 0;

	li {
		display: flex;

		&:not(:last-child) {
			margin-bottom: $spacing-medium;
		}

		span:last-of-type {
			margin-left: $spacing-medium;
		}
	}
}
