@import '../../../../variables';

.gm-sidebar {
	display: flex;
	flex-direction: column;
	background: #fff;
	padding: $spacing-large;
	gap: $spacing-xlarge;
	justify-content: space-between;
	min-height: calc(100vh - $gm-nav-header-height);
}

.sidebar-simplebar {
	$height: calc(100vh - $gm-nav-header-height);
	max-height: $height;

	&.with-admin-controls {
		max-height: calc($height - $gm-sidebar-footer-height);
	}
}