.gm-top-ranked-card {
	list-style-type: none;
	padding: 0;
	margin: 0.25rem 0;

	li {
		display: flex;
		align-items: center;
		&:not(:last-child) {
			margin-bottom: 0.5rem;
		}

		span:last-of-type {
			margin-left: 0.5rem;
		}
	}
}
