@import '../../variables';

.home-page-container {
	width: 65vw;
	display: flex;
	flex-direction: column;
	margin: 0 auto;
}

.cards-container {
	display: grid;
	grid-template-columns: repeat(3,1fr);
	gap: 1rem;
	margin-top: 1.5rem;

	.#{$ns}-card {
		min-height: 120px;
		display: grid;
		grid-template-columns: min-content 5fr;
		gap: 1rem;

	}
	a:hover {
		text-decoration: none;
	}

	&.admin {
		grid-template-columns: repeat(2,1fr);
	}
}