@import '../../variables';

.home-page-container {
	display: flex;
	flex-direction: column;
}

.cards-container {
	display: grid;
	grid-template-columns: repeat(3,1fr);
	gap: $spacing-l;
	margin-top: $spacing-l;

	.#{$ns}-card {
		min-height: 120px;
		display: grid;
		grid-template-columns: min-content 5fr;
		gap: $spacing-l;

	}
	a:hover {
		text-decoration: none;
	}

	&.admin {
		grid-template-columns: repeat(2,1fr);
	}
}