@import '../../variables';

#object-list {
	.header-controls {
		display: flex;
		flex-direction: column;
		gap: $spacing-large;

		.header-buttons {
			display: flex;
			justify-content: right;
			gap: $spacing-large;
		}
	}

	.checkbox {
		margin: 0;
		padding: 0;
	}
}
