@import '../../../../variables';

#quiz-form {
	.quiz-item {
		margin-bottom: $pt-grid-size * 3;
	}

	.boolean-item {
		.option {
			display: flex;
			align-items: center;
			margin-top: $pt-grid-size;
			gap: $pt-grid-size;

			.#{$bp-ns}-radio {
				margin-bottom: 0;
				margin-top: 0;
			}
		}

		.#{$bp-ns}-radio {
			gap: $pt-grid-size;
		}
	}

	.multiple-choice-item {
		.choices {
			display: flex;
			flex-wrap: wrap;

			> .choice {
				display: flex;
				gap: $pt-grid-size;

				flex: 1 0 calc(50% - $pt-grid-size);
				margin-top: $pt-grid-size;
				margin-right: $pt-grid-size;

				&:nth-child(even) {
					margin-right: 0;
				}

				.#{$bp-ns}-radio {
					margin-top: 0;
					margin-bottom: 0;
				}
			}
		}
	}
}