@import '../variables';

#form-controls {
	display: flex;

	button {
		margin-right: 10px;

		&:last-of-type {
			margin-right: 0;
		}
	}

	.left-controls {
		flex: 1;
	}

	.right-controls {
		display: flex;
		justify-content: end;
	}
}
