@import '../variables';

#nav-header {
	color: $light-gray1;
	display: flex;
	padding: $gm-nav-header-padding;
	font-size: $gm-nav-header-font-size;
	background-color: $pt-app-background-color;


	.#{$ns}-spinner {
		justify-content: left;
	}
}
