@import '../../../variables';

.results-header {
	display: flex;
	align-items: center;
	margin: $spacing-medium 0;
	gap: $spacing-medium;
}

.results-items {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-gap: $spacing-large;
}
