@import '../../../../variables';

#game-board .player-button {
	width: $spacing-xxl;
	border-radius: $spacing-xl;
	padding: $spacing-m;
	margin: $spacing-xs;
	background-color: #eef2f1;
	color: #0b2540;
	border-color: #0b2540;
	border-style: solid;
	border-width: $spacing-xs;
	font-weight: bold;
}
