@import '../../../../variables';

.gm-sidebar {
	display: flex;
	flex-direction: column;
	background: #fff;
	padding: $spacing-l;
	gap: $spacing-xl;
	justify-content: space-between;
	height: calc(100vh - 50px);
	overflow-y: scroll;
}