@import "~@blueprintjs/core/lib/scss/variables";

// Base

//spacings
$spacing-px: 1px;
$spacing-xs: 2px;
$spacing-s: 4px;
$spacing-m: 8px;
$spacing-l: 16px;
$spacing-xl: 24px;
$spacing-xxl: 48px;

// colors
$orbit-blue: #0b2540;

$pt-app-background-color: $dark-gray4;
$gm-main-frame-background-color: $gray4;


// styles
$gm-content-padding-vertical: $spacing-l;
$gm-content-padding-horizontal: $spacing-l;
$gm-content-padding: $gm-content-padding-vertical $gm-content-padding-horizontal;

$gm-navbar-background-color: $orbit-blue;
$gm-nav-header-height: $pt-navbar-height;

$gm-main-frame-height: calc(100% - #{$gm-nav-header-height});


