@import "~@blueprintjs/core/lib/scss/variables";

//spacings
$spacing-pixel: 1px;
$spacing-xSmall: 2px;
$spacing-small: 4px;
$spacing-medium: 10px;
$spacing-large: 16px;
$spacing-xLarge: 24px;
$spacing-xxLarge: 48px;

// colors
$orbit-blue: #0b2540;

$pt-app-background-color: $dark-gray4;
$gm-main-frame-background-color: $gray4;

// styles
$gm-content-padding-vertical: $spacing-large;
$gm-content-padding-horizontal: $spacing-large;
$gm-content-padding: $gm-content-padding-vertical $gm-content-padding-horizontal;

$gm-navbar-background-color: $orbit-blue;
$gm-nav-header-height: $pt-navbar-height;

$gm-main-frame-height: calc(100% - #{$gm-nav-header-height});
