@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import './variables';

body {
	margin: 0;

	&.#{$ns}-dark {
		background-color: $pt-dark-app-background-color;
	}
}

#app-root {
	font-family: 'Roboto', sans-serif;

	.settings-title-container {
		display: flex;

		H2 {
			flex: 1;
		}

		Button {
			height: 30px;
		}
	}
}
