@import './variables';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
	margin: 0;
	max-height: 100vh;
	overflow: hidden;
}

#app-root {
	font-family: 'Roboto', sans-serif;

	.settings-title-container {
		display: flex;

		H2 {
			flex: 1;
		}

		Button {
			height: 30px;
		}
	}
}
