@import '../../../variables';

.gm-card {
	box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
	border-radius: 1rem;
	display: flex;
	overflow: hidden;

	&.fill {
		flex-grow: 1;
	}

	&-header {
		transition: all 0.2s ease;
		outline: unset;
		padding: 0.5rem 1rem;
		display: flex;
		background: #0b2540;
		border-radius: 1rem 1rem 0 0;

		&.collapsed {
			border-radius: 1rem;
		}
	}

	&-content {
		height: 100%;
		background: #eef2f1;
		color: #000;
		padding: 0.5rem 1rem;
		border-radius: 0 0 1rem 1rem;
	}
}
