@import '../../../variables';

/*
Content should be colored as if we were using Blueprint's light theme, since the design does not
currently include light and dark modes for the game board. This will likely change in the future,
assuming we want to support light and dark modes.
*/
$text-color: $pt-text-color;
$border-radius: 1rem;
$padding: 0.5rem 1rem;

.gm-card {
	box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
	border-radius: $border-radius;
	display: flex;

	&.fill {
		flex-grow: 1;
	}

	.card-header {
		cursor: pointer;
		outline: unset;
		padding: $padding;
		display: flex;
		background: #0b2540;
		border-radius: $border-radius $border-radius 0 0;
	}

	&.collapsed {
		.card-header {
			border-radius: $border-radius;
		}
	}

	.card-content {
		height: 100%;
		background: #eef2f1;
		color: $pt-text-color;
		padding: $padding;
		border-radius: 0 0 $border-radius $border-radius;
	}
}
