@import '../../variables';

#activate {
	margin: 50px auto 0;
	width: 480px;
	height: 420px;
	padding: 30px 55px;
	border-radius: 5px;
	background-color: $white;
	box-shadow: 1px 1px 5px $dark-gray1;
}
