@import "../../../../variables";

#game-board .player-button {
	margin: $spacing-xsmall;
	border-radius: 50%;
	padding: 0;
	min-width: unset;
	min-height: unset;

	width: clamp(22px, 25cqw, 40px);
	aspect-ratio: 1 / 1;
	font-size: clamp(9px, 7cqw, 14px);

	background-color: #eef2f1;
	color: #0b2540;
	border-color: #0b2540;
	border-style: solid;
	border-width: $spacing-xsmall;
	font-weight: bold;
}
